{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<section class="login-page">
    <h2>Załóż konto</h2>
    <form method="post" action="{% url 'registration-page' %}">
        {% csrf_token %}

        <div class="form-group">
            {{ form.first_name.errors }}
            {{ form.first_name|add_class:"your-input-class"|attr:"placeholder:Imię" }}  <!-- You can replace 'your-input-class' with whatever CSS class you're using for input styling -->
        </div>

        <div class="form-group">
            {{ form.last_name.errors }}
            {{ form.last_name|add_class:"your-input-class"|attr:"placeholder:Nazwisko" }}
        </div>

        <div class="form-group">
            {{ form.email.errors }}
            {{ form.email|add_class:"your-input-class"|attr:"placeholder:Email" }}
        </div>

        <div class="form-group">
            {{ form.password.errors }}
            {{ form.password|add_class:"your-input-class"|attr:"placeholder:Hasło" }}
        </div>

        <div class="form-group">
            {{ form.password2.errors }}
            {{ form.password2|add_class:"your-input-class"|attr:"placeholder:Powtórz hasło" }}
        </div>

        <div class="form-group form-group--buttons">
            <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj się</a>
            <button class="btn" type="submit">Załóż konto</button>
        </div>
    </form>
</section>
{% endblock %}


